.App-header {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 2px 2px darkgray;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  color: #0e3c7e;
}